body {
    margin: 0;
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #202020;
    line-height: 1.4;
    background: #ffffff;
}

.container {
    margin: 0 auto;
    width: 50%;
}

h1, h2 {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

h1 {
    font-size: 2.8rem;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    padding: 8em 0 3em 0;
    text-transform: lowercase;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

nav a {
    font-size: 1.4rem;
    color: #4c4c4c;
    text-decoration: none;
    transition: color 0.4s ease;
    padding: .5em 2em 0 0;
}

nav a:hover {
    color: #1d68e0;
}

main a {
    color: #1d68e0;
}

main p {
    margin: 1.2em 0;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    nav a {
        padding: .5em 1em 0 0;
    }
}